/* Section */
.section__wrapper {
    max-width: var(--layout-width);
    margin: 0 auto;
    padding: 100px 24px;
}

.section_light {
    background-color: var(--color-bg-medium);
}

/* Button */
.button {
    padding: 16px 32px;
    color: var(--color-text);
    background: none;
    border: none;
    border-radius: var(--border-10);
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.button_primary {
    background: var(--color-primary);
}

.button_primary:hover {
    background: var(--color-primary-hover);
}

.button_ghost {
    border: 1px solid var(--color-stroke);
}

.button_ghost:hover {
    background: var(--color-bg-light);
}

@media (max-width: 640px) {
    .button {
        padding: 12px 24px;
    }
}

/* Social */
.social-icons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.social-icons__icon {
    width: 48px;
    height: 48px;
    padding: 11px;
    border: 1px solid var(--color-stroke);
    border-radius: var(--border-8);
    text-decoration: none;
}

.social-icons__icon:hover {
    background-color: var(--color-bg-medium);
}

/* Headling */
.headling {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
}

.headling__top {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-secondary);
}

.headling__bottom {
    margin: 0;
    font-weight: 400;
    font-size: 46px;
    line-height: 120%;
    color: var(--color-text);
}

@media (max-width: 860px) {
    .headling__bottom {
        font-size: 34px;
    }
}

/* Paragraph */
.paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-text);
    max-width: 787px;
}

.paragraph_32 {
    margin-bottom: 32px;
}

/* Card */
.card {
    background: var(--color-bg-medium);
    border-radius: var(--border-10);
}

.card__32 {
    padding: 32px;
}

/* Post Wrapper */
.post-wrapper {
    margin: 48px 0;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

/* Post */
.post {
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.post__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.post__button a {
    display: block;
}

.post__stats {
    display: flex;
    gap: 32px;
}

.post__stat {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--color-link-hover);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.post__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--color-text);
}

.post__description {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-text);
}

@media (max-width: 860px) {
    .post {
        flex-direction: column;
        gap: 16px;
    }

    .post__stat {
        font-size: 14px;
    }

    .post__title {
        font-size: 21px;
    }
}

/* Chip */
.chip {
    padding: 8px 16px;
    border: 1px solid var(--color-stroke);
    border-radius: var(--border-10);
    background: none;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: var(--color-text);
    cursor: pointer;
    white-space: nowrap;
}

.chip:hover {
    background-color: var(--color-bg-medium);
}

.chip_active {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
}

.chip_active:hover {
    border-color: var(--color-primary-hover);
    background-color: var(--color-primary-hover);
}

/* Course Card */
.course-card {
    background: var(--color-bg-medium);
    border-radius: var(--border-10);
    color: var(--color-text);
}

.course-card__cover img {
    border-radius: var(--border-10) var(--border-10) 0 0;
    width: 100%;
}

.course-card__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

.course-card__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--color-text);
    margin-bottom: 4px;
}

.course-card__author {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-link-hover);
}

.course-card__duration {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.course-card__tags {
    display: flex;
    gap: 12px;
}

.course-card__footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background: var(--color-bg-light);
    padding: 24px;
    border-radius: 0 0 var(--border-10) var(--border-10);
}

.course-card__price {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
}

/* Tag */
.tag {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: var(--color-text);
    border: 1px solid var(--color-stroke);
    border-radius: var(--border-17);
    padding: 6px 12px;
    user-select: none;
}
