.footer {
    background-color: var(--color-bg-footer);
}

.footer__wrapper {
    max-width: var(--layout-width);
    margin: 0 auto;
    padding: 40px 24px 100px;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    gap: 18px;
}

.footer__menu {
    display: flex;
    gap: 80px;
    margin-bottom: 48px;
}

.footer__menu-header {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-secondary);
    margin-bottom: 16px;
}

.menu-footer {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-footer__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-link-hover);
    margin-bottom: 12px;
}

.menu-footer__item a {
    color: var(--color-text);
}

.menu-footer__item a:hover {
    color: var(--color-link-hover);
}

.footer__copyright {
    color: var(--color-link-hover);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

@media (max-width: 860px) {
    .footer__menu {
        flex-direction: column;
        gap: 24px;
        margin-bottom: 24px;
    }
}

@media (max-width: 640px) {
    .footer__social {
        flex-direction: column;
    }
}
