/* Header */
.header {
    background-color: var(--color-bg-medium);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1220px;
    margin: 0 auto;
}

.header__login {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-text);
    cursor: pointer;
}

.header__login:hover {
    color: var(--color-link-hover);
}

/* Menu */
.menu {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.menu__item {
    padding: 8px 16px;
    cursor: pointer;
}

.menu__item a {
    font-size: 18px;
    line-height: 120%;
    color: var(--color-text);
}

.menu__item:hover a {
    color: var(--color-link-hover);
}

.menu__item_active {
    color: var(--color-link-hover);
    border: 1px solid var(--color-stroke);
    border-radius: var(--border-8);
}
